.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  gap: 20px;
  flex-shrink: 1;
}

.wrap {
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 80px;

  opacity: 1;
  transform: translateY(0);
  transition: 0.3s all;
  background-color: #202020;
}
